global
  log stdout format raw local1
  maxconn 1024

  # Taking advice from https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/#haproxy
  ssl-default-bind-options ssl-min-ver TLSv1.2 prefer-client-ciphers
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-bind-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1:!AESCCM
  tune.ssl.default-dh-param 2048

defaults
  timeout connect 10s
  timeout client 30s
  timeout server 30s
  mode http
  log global
  default-server init-addr none

